In [1]:
import pandas as pd
import numpy as np

In [15]:
path = 'BBDD_evaluacion.xlsx'
df = pd.read_excel(path)
df

,PROVINCIA,gdp,illiteracy,poverty,deficient_infra,school_dropout,no_healthcare,birth_mortal,pop,movie_theatres_per_cap,doctors_per_cap,Score,poverty_index
0,Buenos Aires,2.926899e+08,NaN,8.167798,5.511856,0.766168,NaN,4.4,15625084.0,0.000006,0.004836,3.551157e+06,Middle
1,Catamarca,6.150949e+06,2.344140,9.234095,10.464484,0.951963,NaN,1.5,367828.0,0.000005,0.004502,2.452248e+05,High
2,Córdoba,6.936374e+07,NaN,5.382380,10.436086,1.035056,45.7640,NaN,NaN,0.000011,0.010175,6.893503e+05,Low
3,Corrientes,7.968013e+06,5.602420,12.747191,17.438858,3.864265,62.1103,5.9,992595.0,0.000004,0.004495,1.682386e+05,High
4,Chaco,9.832643e+06,7.517580,15.862619,NaN,2.577462,65.5104,7.5,1055259.0,0.000003,0.003605,1.407033e+05,High
5,Chubut,1.774785e+07,1.548060,8.051752,8.044618,0.586309,39.5473,3.0,509108.0,0.000016,0.004498,1.697054e+05,Middle
6,Entre Ríos,2.074341e+07,3.185580,7.288751,18.794568,1.887188,48.6571,3.1,1235994.0,0.000006,0.004679,3.987101e+05,Low
7,Formosa,3.807057e+06,4.610640,17.035583,28.004985,2.268974,65.8126,NaN,530162.0,0.000004,0.003440,3.272710e+04,High
8,Jujuy,6.484938e+06,2.151390,NaN,12.483179,0.721295,54.1615,3.7,673307.0,0.000003,0.003958,1.819785e+05,High
9,La Pampa,6.990262e+06,1.539300,3.398774,16.505714,0.204093,45.4764,7.2,318951.0,0.000019,0.005415,4.429922e+04,Low
10,La Rioja,5.590516e+06,2.773210,10.875152,7.403254,3.844949,40.8341,11.4,333642.0,0.000012,0.005092,2.926780e+04,High
11,Mendoza,3.343137e+07,2.200200,5.692798,3.839852,1.063718,50.5843,4.4,1738929.0,0.000008,0.005720,3.952124e+05,Low
12,Misiones,9.646826e+06,6.863950,13.529788,NaN,3.129124,57.8339,8.1,1101593.0,0.000002,0.002880,1.360008e+05,High
13,Neuquén,2.256411e+07,1.943750,9.456635,11.267278,1.393504,48.7431,3.3,551266.0,0.000009,0.005067,1.670532e+05,High
14,Río Negro,1.026458e+07,2.031420,8.678391,14.885444,0.408042,49.9463,0.8,638645.0,0.000009,0.004898,7.983171e+05,Middle
15,Salta,1.343883e+07,3.346090,16.870500,14.182303,1.482030,60.4230,5.8,1214441.0,0.000004,0.003991,2.093893e+05,High
16,San Juan,8.262309e+06,2.963260,NaN,3.914390,3.298413,52.9684,4.2,681055.0,0.000006,0.005044,1.621581e+05,Middle
17,San Luis,1.178085e+07,3.433650,6.593771,9.679894,2.000172,51.6154,3.8,432310.0,0.000005,0.006102,1.137675e+05,Low
18,Santa Cruz,1.166374e+07,0.791485,8.024762,7.411364,0.289262,29.2321,3.3,273964.0,0.000011,0.004271,8.302183e+04,Middle
19,Santa Fe,8.158869e+07,1.975940,6.081012,11.869195,2.872181,41.9660,2.6,3194537.0,0.000007,0.006672,1.228670e+06,Low
20,Santiago del Estero,8.387859e+06,6.272090,11.759000,20.491433,2.325598,63.6637,1.7,874006.0,0.000003,0.002821,5.141281e+05,High
21,Tucumán,1.385620e+07,3.770370,11.214239,6.466665,0.977285,48.2242,3.0,1448188.0,0.000005,0.005501,4.827331e+05,High

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PROVINCIA               22 non-null     object
 1   gdp                     22 non-null     float64
 2   illiteracy              20 non-null     float64
 3   poverty                 20 non-null     float64
 4   deficient_infra         20 non-null     float64
 5   school_dropout          22 non-null     float64
 6   no_healthcare           20 non-null     float64
 7   birth_mortal            20 non-null     float64
 8   pop                     21 non-null     float64
 9   movie_theatres_per_cap  22 non-null     float64
 10  doctors_per_cap         22 non-null     float64
 11  Score                   22 non-null     float64
 12  poverty_index           22 non-null     object
dtypes: float64(11), object(2)
memory usage: 2.4+ KB

In [ ]:
# Dimensiones del DataFrame
df.shape

(22, 13)

In [ ]:
# Datos nulos por columna
df.isna().sum().sort_values()

PROVINCIA                 0
gdp                       0
school_dropout            0
movie_theatres_per_cap    0
poverty_index             0
Score                     0
doctors_per_cap           0
pop                       1
birth_mortal              2
no_healthcare             2
deficient_infra           2
poverty                   2
illiteracy                2
dtype: int64

In [ ]:
# Suma de casos duplicados
df.duplicated().sum()

np.int64(0)